<html>
	<h1>Get an ICS link containing your booked data on <a href="https://web.proovr.com">proovr</a></h1>

{% if email|length %}
	Email address: {{email}}
	<br>
{% else %}
	<form action="/" method = "POST">
		<p>E-mail address <input type = "email" id="email" name = "E-mail address" /></p>
		<p><input type = "submit" value = "Submit" /></p>
	</form>
{% endif %}

{% if bearer|length %}
	Bearer: {{bearer}}
	<br>
{% else %}
	Click below button to get sent an Email Confirmation Code and enter below.
	<form action="/{{emailurl}}" method = "POST">
		<p><input type = "submit" value = "Mail Confirmation Code" /></p>
		<form action="/{{emailurl}}" method = "POST">
		<p>E-mail Confirmation Code <input type = "text" id="uname" pattern="^[A-Z0-9]{6}$" name = "E-mail Confirmation Code" /></p>
		<p><input type = "submit" value = "Submit" /></p>
	</form>
{% endif %}

{% if bookedData|length %}
<br>
Content in <a href="/{{emailurl}}/{{bearer}}/proovr.ics">ICS link</a> shown below:<br>
        {% for entry in bookedData %}
	<blockquote>
	{{ entry['date'] }}<br>
	{{ entry['booking']['company']['name'] }}<br>
	{{ entry['booking']['deskArea']['name'] }} ({{entry['booking']['deskArea']['deskCount']- entry['seatsAvailable']}} booked)<br>
	</blockquote>
        {% endfor %}
{% endif %}

{% if error|length %}
<p style="color:red;">Error from proovr:</p>
{{error}}
{% endif %}

</html>
